@charset "UTF-8";
/* --------------------------------------------------------------

   style.css
   * Sets up basic style.

-------------------------------------------------------------- */

/**************************************/
/*              COLOR SCHEME          */
/**************************************/
/*

113F8C
Hex
17/63/140
RGB

01A4A4
Hex
1/164/164
RGB

00A1CB
Hex
0/161/203
RGB

61AE24
Hex
97/174/36
RGB

D0D102
Hex
208/209/2
RGB

32742C
Hex
50/116/44
RGB

D70060
Hex
215/0/96
RGB

E54028
Hex
229/64/40
RGB

F18D05
Hex
241/141/5
RGB

616161
Hex
97/97/97
RGB

*/

/**************************************/
/*              GLOBALS               */
/**************************************/

body {
    font-family: 'Lato','Helvetica Neue', Arial, Helvetica, sans-serif;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

.header {
    padding:1.0em 0 1.0em 0;
    position: relative;
}

.header:after {
    content:"\0020";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
    overflow:hidden;
}

.header hgroup:after {
    content:"\0020";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
    overflow:hidden;
}

.header nav ul,.header nav li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav li {
    display: block;
    float: left;
    margin: 0 0.50em 1.00em 0;
}

.header nav li a {
    background: #616161;
    color: #FFF;
    font-weight: bold;
    padding: 0.50em;
    text-decoration: none;
    text-transform: uppercase;
}

.header nav li a:hover {
    background: #F18D05;
    color: #FFF;
}

header.header h1 {
    border: none;
    color:#616161;
    display: block;
    float: left;
    font-weight: bolder;
    text-transform: uppercase;
    width: 50%;
}

header.header h2 {
    border: none;
    color:#616161;
    display: block;
    font-size: 1.5em;
    float: right;
    line-height: 1.0;
    margin: 0;
    text-align: right;
    width: 50%;
}

header.header h3 {
    border: none;
    color:#616161;
    display: block;
    float: right;
    font-size: 1.0em; 
    font-style: normal;
    margin: 0.50em 0 1.25em 0;
    text-align: right;
    width: 50%;
}

header.header,section.content,footer.footer {
    margin: 0 auto;
    width:80%;
    max-width: 950px;
}

article h1, article h2 {
    border-bottom: 1px solid #616161;
    color:#616161;
    padding: 0.50em 0 0.50em 0;
}

h1 a[id], h1 a[id]:hover,h2 a[id], h2 a[id]:hover {
    color:#616161;
    display: block;
    text-decoration: none;
}

h1 a[id]:before,h2 a[id]:before  {
    content:"\00B6\0020";
    color:#616161;
}

h1 a[id]:hover:before,h1 a[id]:active:before, h1 a[id]:focus:before, h2 a[id]:hover:before,h2 a[id]:active:before, h2 a[id]:focus:before  {
    content:"\00B6\0020";
    color:#F18D05;
}

pre {
    border:1px dotted #616161;
    padding: 0.50em;
    border-left: 0.25em solid #616161;
}

section header h1 {
    font-size: 2em; 
    margin-bottom: 0.75em;
}

section section h2{
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1.0em;
}

.footer {
    padding:1.0em 0 1.0em 0;
}

.footer p {
    background: #616161;
    color: #FFF;
    font-weight: 600;
    padding: 0.25em;
}

.footer a {
    color: #FFF;
}

.footer a:hover {
    color: #F18D05;
}

#dropdown,#tabDivs,#carouselAnim,#interval {
    margin-bottom: 1.0em;
}

/**************************************/
/*             menuHarmony.js         */
/**************************************/

ul.dropdown {
    background: #32742C;
    display: block;
    font-weight: bold;
    overflow:visible;
}

ul.dropdown ul {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    font-weight: normal;
}

ul.dropdown,ul.dropdown li{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.dropdown a {
    color: #FFF;
    display: block;
    font-weight: bold;
    padding: 0.50em 0 0.5em 1.5em;
    text-decoration: none;
}

ul.dropdown ul a {
    background: #61AE24;
    padding: 0.50em 0 0.5em 2.00em;
    text-transform: lowercase;
}

ul.dropdown ul a:hover {
    background: #D0D102;
}

ul.dropdown a:hover {
    background: #61AE24;
    color: #FFF;
    cursor: pointer;
}

/**************************************/
/*             menuTab.js             */
/**************************************/

ul.tab {
    background: #32742C;
    color: #FFF;
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    overflow: hidden;
    width:100%;
}

.tab li  {
    float: left;
    text-align: center;
}

.tab li *{
    color:#FFF;
    display: block;
    font-weight: bold;
    padding: 0.60em 1.0em 0.60em 1.0em;
}

.tab li :hover,.tab li .selected{
    background: #61AE24;
    color:#FFF;
    cursor: pointer;
}

#tabDivs div {
    background: #D0D102;
    color:#FFF;
    font-size: 4.0em;
    text-align: center;
}

/**************************************/
/*            carouselImg.js          */
/**************************************/

.boxCarouselContent {
    opacity: 0.80;
}

#carouselAnim, .boxCarousel {
    background:transparent;
    height:30em;
    max-width:100%;
    margin: 0 auto;
    position: relative;
    width: 45em;
}

#carouselAnim h1,.boxCarouselContent h1 {
    border: none;
    color:#FFF;
    font-size: 1.25em;
    margin:0 0 0.15em 0.50em;
}

#carouselAnim h2,.boxCarouselContent h2 {
    border: none;
    color:#FFF;
    font-size: 1.00em;
    margin:0 0 0.25em 0.650em;
}

.boxAnimContent, .boxCarouselContent {
    background: #32742C;
    bottom:2.5em;  
    padding: 0;
    position: absolute;
    width: 100%;
}

.boxAnimContent p, .boxCarouselContent p {
    clear: both;
    color:#FFF;
    margin:0 0 0.50em 0.50em;
}

.boxCarouselButtonPause,.boxCarouselButtonPlay {
    background: #32742C;
    border: none;
    bottom: 2.5em;
    color: #FFF;
    cursor: pointer;
    font-size: .8em; 
    line-height: 1.875em;
    margin-bottom: 1.875em;
    opacity: 0.8;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    width: 6.0em;
    z-index: 999;
}

.boxCarouselButtonPause:hover,.boxCarouselButtonPlay:hover {
    opacity: 1.0;
}

.boxAnimButton, .boxAnimButton:hover, .boxCarouselButton, .boxCarouselButton:hover, .boxCarouselButton:active, .boxCarouselButton:focus {
    color: #FFF;
    display: block;
    padding: 0 0 1.0em 0.50em;
}

.boxAnimButton span,.boxCarouselButton span {
    background:#FFF;
    color: #FFF;
    display: block;
    padding: 0.25em;
}

.boxAnimButton span:before, .boxCarouselButton span:before {
    content:"\2794\0020|\0020"
}

#carouselAnim ul,.boxCarouselNav {
    background: #61AE24;
    bottom:0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-decoration: none;
    width: 100%;
}

#carouselAnim ul li, .boxCarouselNav li {
    float: left;
    width: auto;
}

#carouselAnim ul li a, .boxCarouselNav li a {
    background: #61AE24;
    color:#FFF;
    display: block;
    font-weight: bold;
    padding: 0.50em 0.50em 0.50em 0.50em;
    text-decoration: none;
}

.boxCarouselNav li:first-child a {
    margin-left: 1.0em;
}

#carouselAnim ul li a:hover,#carouselAnim ul li.selected a, .boxCarouselNav li a:hover, .boxCarouselNav li.selected a {
    background: #32742C;
    color: #FFF;
    cursor: pointer;
}

.boxCarouselArrowNext {
    background: #61AE24;
    text-decoration: none;
    bottom: 0;
    content: '\003E';
    color: #FFF;
    cursor: pointer;
    font-size: 1.65em;
    position: absolute;
    right: 0;
}

.boxCarouselArrowPrevious {
    background: #61AE24;
    bottom: 0;
    content: '\003C';
    color: #FFF;
    cursor: pointer;
    font-size: 1.65em;
    position: absolute;
    left: 0;
    text-decoration: none;
}

.boxCarouselArrowNext:hover,.boxCarouselArrowPrevious:hover {
    color: #FFF;
}

/**************************************/
/*             intervalInputs.js      */
/**************************************/

#interval {
    background: #32742C;
    padding: 1.0em;
}

#interval legend {
    color: #FFF;
    display: block;
    font-size: 1.5em;
    width: 100%;
}

.interval {
    background: #32742C;
    margin-bottom: 1.0em;
}

.interval:after {
    content:"\0020";
    clear:both;
    display:block;
    height:0;
    visibility:hidden;
    overflow:hidden;
}

#interval label {
    color: #FFF;
    float:left;
    font-size: 1.55em;
    padding: 0 1.00em 0 0;
}

#interval input{
    padding: 0 0.20em 0 0.20em;
    font-size: 1.75em;
    background: #61AE24;
    border:1px solid #D0D102;
    color: #FFF;
    text-align: center;
}

.intervalDiv {
    color: #FFF;
    font-size:1.55em;
    font-weight: bolder;
}